<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Road Trip" %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" >
  <link rel="shortcut icon" href="https://cdn1.iconfinder.com/data/icons/hawcons/32/700233-icon-63-compass-128.png">
  </head>

  <body>
    <% if current_user %>
      <%=react_component('logoutNavbar')%>
    <%else%>
      <%=react_component('signinNavbar')%>
    <%end%>
    <%= yield %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  </body>
</html>
